<div ng-controller="CarsController">

  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="0" ng-repeat-start="make in data.makes"></tr>
          <tr ng-repeat="car in make.models">
            <td>{{car.years[0].year}}-{{car.years[car.years.length-1].year}}</td>
            <td>{{car.id.split('_')[0]}}</td>
            <td>{{car.name}}</td>
          </tr>
        <tr ng-if="0" ng-repeat-end></tr>
      </tbody>
    </table>
  </div>

<!-- <pre>
  {{ data.makes.forEach(function(item){
    return item.name
  }) }}
</pre> -->

</div>