<div ng-controller="CarsController">
  Testing

  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="car in cars.makes.models">
        <!-- <tr> -->
          <td>2005</td>
          <td>Honda</td>
          <td>{{ car.name }}</td>
          <!-- <td>Accord</td> -->
        </tr>
      </tbody>
    </table>
  </div>

<!-- <pre ng-repeat="car in cars.makes.models">
  {{ car.makes.models }}


</pre>
 -->
</div>